@import url("https://fonts.googleapis.com/css?family=Modak");
@import url("https://fonts.googleapis.com/css?family=Mukta+Mahee:700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.outline {
  position: absolute;
  clip: rect(0px 0px 0px 0px);
  *clip: rect 0 0 0 0; }

body {
  margin: 0;
  background-color: #ffffff; }

.main {
  width: 100%;
  height: 100vh;
  position: relative; }

.container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.heading {
  text-align: center;
  font-family: "Modak", cursive;
  font-size: 30px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  color: #cc2076;
  text-transform: uppercase; }

.tamagotchi {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  max-width: 500px;
  width: 100%;
  height: 630px;
  margin: 0 auto;
  padding-top: 70px;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #22a39a;
  box-shadow: 0px 0px 4px 2px #17706a; }

.screen {
  height: 280px;
  background: linear-gradient(to bottom, #ccffff 0%, #33ccff 100%);
  box-shadow: inset 0px 0px 6px 4px #17706a;
  padding-top: 6px; }

.bars {
  height: auto;
  padding-left: 8px; }

.bar {
  border: 2px solid #17706a;
  height: 10px;
  width: 80px;
  margin: 0 10px 0 2px;
  display: inline-block;
  background-color: #cc2076; }

.box-bar {
  padding: 10px 0; }

.box-bar i {
  color: #cc2076;
  font-size: 18px; }

.bar__content {
  height: inherit;
  width: inherit;
  background-color: #ffd252; }

.image {
  max-width: 180px;
  margin: 0 auto;
  position: relative;
  top: 30px; }

.image--pet {
  width: 100%; }

.button--start {
  margin-bottom: 60px;
  padding: 20px;
  border-radius: 40px;
  text-transform: uppercase;
  background-color: #cc2076;
  border: none;
  color: #ffd252;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0px 0px 4px 3px #17706a;
  font-family: "Mukta Mahee", sans-serif;
  font-size: 18px; }

.button--start:focus, .button:focus {
  background-color: #d8217e;
  box-shadow: 0px 0px 4px 1px #17706a;
  outline: 2px solid #17706a; }

.button {
  background-color: #cc2076;
  border: none;
  width: 56px;
  height: 56px;
  color: #ffd252;
  border-radius: 40px;
  margin: 20px 5px 10px 5px;
  box-shadow: 0px 0px 4px 3px #17706a; }

.button i {
  font-size: 28px; }

.box-bar {
  display: inline-block; }

.sign {
  color: #ffd252;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 11px 0 11px;
  font-weight: bold;
  font-family: "Mukta Mahee", sans-serif;
  font-size: 18px; }

@media (min-width: 992px) {
  .button--start:hover, .button:hover {
    background-color: #d8217e;
    box-shadow: 0px 0px 4px 1px #17706a; } }
@media (max-width: 750px) {
  .tamagotchi {
    max-width: 400px;
    height: 510px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 55px; }

  .screen {
    height: 230px; }

  .bar {
    width: 58px;
    margin: 0 8px 0 2px; }

  .button--start {
    margin-bottom: 40px;
    padding: 15px;
    font-size: 17px; }

  .image {
    max-width: 150px;
    top: 20px; }

  .button {
    width: 46px;
    height: 46px;
    margin: 15px 4px 9px 4px; }

  .button i {
    font-size: 22px; }

  .sign {
    margin: 0 7px 0 7px;
    font-size: 16px; }

  .box-bar i {
    font-size: 17px; } }
@media (max-width: 450px) {
  .tamagotchi {
    max-width: 350px;
    height: 440px;
    padding-left: 45px;
    padding-right: 45px; }

  .screen {
    height: 180px;
    padding-top: 2px; }

  .bar {
    height: 9px;
    width: 50px;
    margin: 0 5px 0 0; }

  .button--start {
    padding: 12px; }

  .image {
    max-width: 110px; }

  .bars {
    padding-left: 4px; }

  .button {
    width: 40px;
    height: 40px; }

  .button i {
    font-size: 18px; }

  .sign {
    margin: 0 4px 0 4px; } }
@media (max-width: 370px) {
  .tamagotchi {
    max-width: 280px;
    height: 360px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px; }

  .screen {
    height: 150px; }

  .bar {
    height: 8px;
    width: 39px;
    margin: 0 3px 0 0; }

  .button--start {
    margin-bottom: 30px;
    padding: 8px;
    font-size: 15px; }

  .image {
    max-width: 95px;
    top: 5px; }

  .button {
    width: 35px;
    height: 35px;
    margin: 11px 3px 6px 3px; }

  .button i {
    font-size: 17px; }

  .box-bar i {
    font-size: 16px; }

  .sign {
    margin: 0 3px 0 3px;
    font-size: 14px; } }
